services:
  coding-global-bot-db:
    container_name: coding-global-bot-db
    image: postgres:18-alpine
    restart: always
    volumes:
      - ~/duplicati-volume/source/coding-global-bot-db-pgbackup:/backups
    networks:
      - proxy
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
  coding-global-pgbackup:
    container_name: coding-global-pgbackup
    image: prodrigestivill/postgres-backup-local:18-alpine
    restart: always
    networks:
      - proxy
    volumes:
      - ~/duplicati-volume/source/coding-global-bot-db-pgbackup:/backups
    links:
      - coding-global-bot-db
    depends_on:
      - coding-global-bot-db
    environment:
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_EXTRA_OPTS=-Fc
      - SCHEDULE=@every 6h
      - BACKUP_KEEP_DAYS=7
      - HEALTHCHECK_PORT=8080
  coding-global-bot:
    container_name: coding-global-bot
    depends_on:
      - coding-global-bot-db
    links:
      - coding-global-bot-db
    networks:
      - proxy
    build:
      context: ./
      dockerfile: Dockerfile
      target: prod
    restart: always
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}/${POSTGRES_DB}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.coding-global-bot.rule=Host(`bot.coding.global`)"
      - "traefik.http.routers.coding-global-bot.entrypoints=websecure"
      - "traefik.http.routers.coding-global-bot.tls.certresolver=letsencrypt"
      - "traefik.http.services.coding-global-bot.loadbalancer.server.port=4000"

networks:
  proxy:
    external: false
    name: proxy
